@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@800&display=swap');
* {
font-family: "Work Sans", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;

}
body {
width: 100%;
height: 100vh;
overflow: hidden;
background-color: black;
color: rgb(146, 75, 75);
}
header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.logo {
    font-size: 3rem;
    text-decoration: none;
   color: rgb(255, 255, 255); 
   font-weight: 600;
   cursor: pointer;
   transition: 0.5s ease;
}
.logo:hover {
    transform:scale(1.1);
}
nav a {
    font-size: 1,8rem;
    color: rgb(146, 75, 75);
    margin-left: 4rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover{


 
    color: rgb(146, 75, 75);
    border-bottom: 3px solid #ffffff;
}
 section {
    height:  100vh;
    padding: 5rem 9% 5rem;
 }
 .homme {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8rem ;  
    background-color: black;

 }

 .homme.homme-content h1 {
font-size: 6rem;
font-weight: 700;
line-height: 1.3 ;
 }

 span {
    color: #ffffff;
 }
 .homme-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
 }
 .homme-img {
border-radius: 50%;
 }
 .homme-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid rgb(146, 75, 75) ;
    cursor: pointer;
    transition: 0.2s linear ;
 }
 .homme-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
 }
 button {
  display: inline-block;
  margin-top: 20px;
  padding: 1rem 2.8rem;
  background-color: rgb(0, 0, 0);  
  border-radius: 8rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.3rem;
  font-weight: 100;
  transition: 0,4s ease;
  cursor: pointer;
 }
 button:hover {
    color: #985050;
    box-shadow: 0 0 25px snows;
 }
 .typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;

 }
 .typing-text span {
    position: relative;

 }
 .typing-text span:before {
    content:"web devolper";
    color: #ffffff;
    animation: words 20s infinite;
 }
.typing-text span:after {
    
    background-color: rgb(51, 28, 52);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor {
    to{
        border-left: 3px solid #985050;
    }
 }
@keyframes words {
    0%,20%{
        content: " i am web devoloper";
    }
    21%,40%{
        content: " i am software devoloper";
    }
    41%,60%{
        content: "i iam web desinger";
    }
    61%,80%{
        content: "i am gamer";
    }
    81%,100%{
        content:"sigma";
    }
}